<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Design Property Guide</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
      * { -moz-box-sizing: border-box; box-sizing: border-box; }

      html {
        background: #fff;
        color: #444;
      }

      body,
      h1,
      h2,
      h3,
      h4,
      dl,
      dd,
      p { margin: 0; }

      body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        background-color: white;
        -webkit-font-smoothing: antialiased;
      }

      ::-moz-selection { background: #b3d4fc; }
      ::selection { background: #b3d4fc; }

      header,
      footer,
      main { display: block; }

      main {
        margin: 0 -0.5em;
        padding-top: 2em;
        padding-bottom: 2em;
      }

      h1,
      h2,
      h3,
      h4 {
        padding: 0;
        font-weight: normal;
        line-height: 1.2;
      }

      h1 { font-size: 2em; }

      h2 {
        margin-top: 0;
        padding: 1.5em 0 .5em;
        font-size: 1.5em;
      }

      h4 { color: #ccc; }


      p { padding: .75em 0; }

      a {
        text-decoration: none;
        background: transparent;
      }

      a,
      a:visited { color: #369; }

      a:focus,
      a:hover,
      a:active { color: #036; }

      a:hover,
      a:active { outline: 0; }

      strong { font-weight: bold; }

      hr {
        -moz-box-sizing: content-box;
             box-sizing: content-box;
        display: block;
        margin: 1em 0;
        border: 0;
        border-top: 1px solid #ccc;
        padding: 0;
        height: 1px;
      }

      code {
        font-size: 1em;
        font-family: monospace, monospace;
      }

      table {
        border-collapse: separate;
        border-spacing: 0 .5em;
        width: 100%;
      }


      th,
      td {
        padding: 0 .5em;
        vertical-align: baseline;
        -ms-word-break: break-all;
            word-break: break-all;
            word-break: break-word;
        -webkit-hyphens: auto;
           -moz-hyphens: auto;
            -ms-hyphens: auto;
                hyphens: auto;
      }

      th {
        font-weight: normal;
        text-align: left;
        border-bottom: 1px solid #eee;
        padding: 1.5em .4em .5em;
        color: #ccc;
      }

      th:first-child {
        color: #333;
        font-size: 1.5em;
      }

      .banner,
      .contentinfo { background: #f5f5f5; }

      .banner { padding: 1em 0; }

      .container {
        margin: 0 auto;
        padding: 0 1em;
        max-width: 80em;
        overflow: hidden;
      }

      .example { width: 20em; }

      .description,
      .contentinfo p { font-size: .75em; }

      .description { width: 26.66666666666667em; }

      .metric-box,
      .radius-box {
        display: inline-block;
        vertical-align: middle;
        background: #ccc;
      }

      .radius-box {
        width: 100%;
        height: 1.125em;
      }

      .line-height-example {
        border-bottom: 1px solid #ccc;
        background-image: -webkit-linear-gradient(#ccc 1px, transparent 1px);
        background-image: linear-gradient(#ccc 1px, transparent 1px);
        background-size: 100% 1em;
      }
    </style>
  </head>

  <body>
    <header role="banner" class="banner">
      <div class="container">
        <h1>Design Attribute Guide</h1>
      </div>
    </header>

    <div class="container">
      <main role="main">

        <table>
          {{#if hasCategory.color}}
          <tr id="colors">
            <th>Colors</th>
            <th>Value</th>
            <th>Examples</th>
            <th>Usage</th>
          </tr>
          {{#each properties}}
          {{#equal this.category 'color'}}
          <tr>
            <td><code>{{camelCase name}}</code></td>
            <td><code>{{value}} {{#if alias}}({{alias}}){{/if}}</code></td>
            <td class="example" style="background-color: {{value}}; border: 1px solid #f2f2f2;"></td>
            <td class="description">{{#if comment}}{{comment}}{{/if}}</td>
          </tr>
          {{/equal}}
          {{/each}}
          {{/if}}

          {{#if hasCategory.textColor}}
          <tr id="text-colors">
            <th>Text Colors</th>
            <th>Value</th>
            <th>Examples</th>
            <th>Usage</th>
          </tr>
          {{#each properties}}
          {{#equal this.category 'text-color'}}
          <tr>
            <td><code>{{camelCase name}}</code></td>
            <td><code>{{value}} {{#if alias}}({{alias}}){{/if}}</code></td>
            <td class="example" style="color: {{value}};">The quick brown fox jumps over the lazy dog.</td>
            <td class="description">{{#if comment}}{{comment}}{{/if}}</td>
          </tr>
          {{/equal}}
          {{/each}}
          {{/if}}

          {{#if hasCategory.backgroundColor}}
          <tr id="background-colors">
            <th>Background Colors</th>
            <th>Value</th>
            <th>Examples</th>
            <th>Usage</th>
          </tr>
          {{#each properties}}
          {{#equal this.category 'background-color'}}
          <tr>
            <td><code>{{camelCase name}}</code></td>
            <td><code>{{value}} {{#if alias}}({{alias}}){{/if}}</code></td>
            <td class="example" style="background-color: {{value}};"></td>
            <td class="description">{{#if comment}}{{comment}}{{/if}}</td>
          </tr>
          {{/equal}}
          {{/each}}
          {{/if}}

          {{#if hasCategory.gradient}}
          <tr id="gradient">
            <th>Gradients</th>
            <th>Value</th>
            <th>Examples</th>
            <th>Usage</th>
          </tr>
          {{#each properties}}
          {{#equal this.category 'gradient'}}
          <tr>
            <td><code>{{camelCase name}}</code></td>
            <td><code>{{value}} {{#if alias}}({{alias}}){{/if}}</code></td>
            <td class="example" style="background-image: {{value}};"></td>
            <td class="description">{{#if comment}}{{comment}}{{/if}}</td>
          </tr>
          {{/equal}}
          {{/each}}
          {{/if}}

          {{#if hasCategory.borderColor}}
          <tr id="border-color">
            <th>Border Colors</th>
            <th>Value</th>
            <th>Examples</th>
            <th>Usage</th>
          </tr>
          {{#each properties}}
          {{#equal this.category 'border-color'}}
          <tr>
            <td><code>{{camelCase name}}</code></td>
            <td><code>{{value}} {{#if alias}}({{alias}}){{/if}}</code></td>
            <td class="example" style="border: 2px solid {{value}};"></td>
            <td class="description">{{#if comment}}{{comment}}{{/if}}</td>
          </tr>
          {{/equal}}
          {{/each}}
          {{/if}}

          {{#if hasCategory.borderStyle}}
          <tr id="border-style">
            <th>Border Styles</th>
            <th>Value</th>
            <th>Examples</th>
            <th>Usage</th>
          </tr>
          {{#each properties}}
          {{#equal this.category 'border-style'}}
          <tr>
            <td><code>{{camelCase name}}</code></td>
            <td><code>{{value}} {{#if alias}}({{alias}}){{/if}}</code></td>
            <td class="example" style="border: {{value}};"></td>
            <td class="description">{{#if comment}}{{comment}}{{/if}}</td>
          </tr>
          {{/equal}}
          {{/each}}
          {{/if}}

          {{#if hasCategory.hrColor}}
          <tr id="hr-color">
            <th>Horizontal Rule Color</th>
            <th>Value</th>
            <th>Examples</th>
            <th>Usage</th>
          </tr>
          {{#each properties}}
          {{#equal this.category 'hr-color'}}
          <tr>
            <td><code>{{camelCase name}}</code></td>
            <td><code>{{value}} {{#if alias}}({{alias}}){{/if}}</code></td>
            <td class="example">
              <hr style="border-top-color: {{value}};">
            </td>
            <td class="description">{{#if comment}}{{comment}}{{/if}}</td>
          </tr>
          {{/equal}}
          {{/each}}
          {{/if}}

          {{#if hasCategory.dropShadow}}
          <tr id="drop-shadow">
            <th>Drop Shadow</th>
            <th>Value</th>
            <th>Examples</th>
            <th>Usage</th>
          </tr>
          {{#each properties}}
          {{#equal this.category 'drop-shadow'}}
          <tr>
            <td><code>{{camelCase name}}</code></td>
            <td><code>{{value}} {{#if alias}}({{alias}}){{/if}}</code></td>
            <td class="example" style="box-shadow: {{value}};"></td>
            <td class="description">{{#if comment}}{{comment}}{{/if}}</td>
          </tr>
          {{/equal}}
          {{/each}}
          {{/if}}

          {{#if hasCategory.innerShadow}}
          <tr id="inner-shadow">
            <th >Inner Drop Shadow</th>
            <th>Value</th>
            <th>Examples</th>
            <th>Usage</th>
          </tr>
          {{#each properties}}
          {{#equal this.category 'inner-shadow'}}
          <tr>
            <td><code>{{camelCase name}}</code></td>
            <td><code>{{value}} {{#if alias}}({{alias}}){{/if}}</code></td>
            <td class="example" style="box-shadow: {{value}};"></td>
            <td class="description">{{#if comment}}{{comment}}{{/if}}</td>
          </tr>
          {{/equal}}
          {{/each}}
          {{/if}}

          {{#if hasCategory.font}}
          <tr id="font">
            <th>Font</th>
            <th>Value</th>
            <th>Examples</th>
            <th>Usage</th>
          </tr>
          {{#each properties}}
          {{#equal this.category 'font'}}
          <tr>
            <td><code>{{camelCase name}}</code></td>
            <td><code>{{value}} {{#if alias}}({{alias}}){{/if}}</code></td>
            <td class="example">
              <div style="font-family: {{value}};">Aa</div>
            </td>
            <td class="description">{{#if comment}}{{comment}}{{/if}}</td>
          </tr>
          {{/equal}}
          {{/each}}
          {{/if}}

          {{#if hasCategory.fontSize}}
          <tr id="font-sizes">
            <th>Font Sizes</th>
            <th>Value</th>
            <th>Examples</th>
            <th>Usage</th>
          </tr>
          {{#each properties}}
          {{#equal this.category 'font-size'}}
          <tr>
            <td><code>{{camelCase name}}</code></td>
            <td><code>{{value}} {{#if alias}}({{alias}}){{/if}}</code></td>
            <td class="example">
              <div style="font-size: {{value}};">The quick brown fox jumps over the lazy dog.</div>
            </td>
            <td class="description">{{#if comment}}{{comment}}{{/if}}</td>
          </tr>
          {{/equal}}
          {{/each}}
          {{/if}}

          {{#if hasCategory.lineHeight}}
          <tr id="line-height">
            <th>Line Heights</th>
            <th>Value</th>
            <th>Examples</th>
            <th>Usage</th>
          </tr>
          {{#each properties}}
          {{#equal this.category 'line-height'}}
          <tr>
            <td><code>{{camelCase name}}</code></td>
            <td><code>{{value}} {{#if alias}}({{alias}}){{/if}}</code></td>
            <td class="example">
              <div class="line-height-example" style="line-height: {{value}}; background-size: 100% {{addOptionalEM value}}">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec elementum odio et lacus rutrum molestie. Nunc arcu enim, elementum id feugiat at, venenatis quis erat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris sit amet commodo velit. In hac habitasse platea dictumst. Sed ac velit dolor.
              </div>
            </td>
            <td class="description">{{#if comment}}{{comment}}{{/if}}</td>
          </tr>
          {{/equal}}
          {{/each}}
          {{/if}}

          {{#if hasCategory.spacing}}
          <tr id="spacing">
            <th>Spacing</th>
            <th>Value</th>
            <th>Examples</th>
            <th>Usage</th>
          </tr>
          {{#each properties}}
          {{#equal this.category 'spacing'}}
          <tr>
            <td><code>{{camelCase name}}</code></td>
            <td><code>{{value}} {{#if alias}}({{alias}}){{/if}}</code></td>
            <td class="example">
              <div class="metric-box" style="width: {{value}}; height: {{value}};"></div>
            </td>
            <td class="description">{{#if comment}}{{comment}}{{/if}}</td>
          </tr>
          {{/equal}}
          {{/each}}
          {{/if}}

          {{#if hasCategory.radius}}
          <tr id="radius">
            <th>Radius</th>
            <th>Value</th>
            <th>Examples</th>
            <th>Usage</th>
          </tr>
          {{#each properties}}
          {{#equal this.category 'radius'}}
          <tr>
            <td><code>{{camelCase name}}</code></td>
            <td><code>{{value}} {{#if alias}}({{alias}}){{/if}}</code></td>
            <td class="example">
              <div class="radius-box" style="border-radius: {{value}};"></div>
            </td>
            <td class="description">{{#if comment}}{{comment}}{{/if}}</td>
          </tr>
          {{/equal}}
          {{/each}}
          {{/if}}

          {{#if hasCategory.misc}}
          <tr id="misc">
            <th>Miscellaneous</th>
            <th>Value</th>
            <th>Examples</th>
            <th>Usage</th>
          </tr>
          {{#each properties}}
          {{#equal this.category 'misc'}}
          <tr>
            <td><code>{{camelCase name}}</code></td>
            <td><code>{{value}} {{#if alias}}({{alias}}){{/if}}</code></td>
            <td class="example"></td>
            <td class="description">{{#if comment}}{{comment}}{{/if}}</td>
          </tr>
          {{/equal}}
          {{/each}}
          {{/if}}
        </table>
      </main>
    </div>

    <footer role="contentinfo" class="contentinfo">
      <div class="container">
        <p>Build with <a href="https://github.com/salesforce-ux/theo">Theo</a> by Salesforce UX</p>
      </div>
    </footer>
  </body>
</html>
